body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.card {
  background: #1e293b;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
  width: 200px;
}

.buy {
  color: #22c55e;
}

.sell {
  color: #ef4444;
}
